@*  model, com M minúsculo é pra colocar acima de tudo, e dizer qual é a classe da model dessa view *@
@model Aluno


@* Model, com M maiúsculo é pra invocar dados da instância da model que já foi carregada na view *@
<h4>Olá @Model.Nome, seja bem vindo!</h4>
